# Dist folder
dist/

# Node.js dependencies
node_modules/
package-lock.json

# Log files
logs/
*.log
npm-debug.log*

# Process IDs
pids/
*.pid
*.seed
*.pid.lock

# NPM cache
.npm/

# REPL history
.node_repl_history